body {
    color: rgb(196, 2, 2);
    background: rgb(12, 11, 12);
    margin: 0px;
    font-family: "Coda", system-ui;
}

header {
    border-bottom: solid 2px rgb(245, 8, 19);
    padding: 20px;
    font-size: 32px;
    color: rgb(231, 12, 12);
}

.chamada {
    background: rgb(rgba(0, 0, 0, 0.753));
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content:center;

}
.chamada-texto{
    margin-right: 20px;
}

h1{
    font-size: 60px
}

p{
    font-size: 30px;
}

img{
    height: 200px;
}

.categoria-vidios{
    display: flex;
    overflow-x: auto;
    gap: 10;
}

.categoria{
  padding-left: 20;
  padding-right: 20;
}










