body {
    color: white;
    background: rgb(12, 11, 12);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(245, 8, 19);
    padding: 20px;
    font-size: 32px;
    color: rgb(231, 12, 12);
}

section {
    background: rgb(rgb(21, 21, 22));
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content:center;

}
.chamada-texto{
    margin-right: 20px;
}